.location {
    background: rgb(41, 41, 7);
    padding: 2rem 5rem;
    width: 85%;
    top: 0;
  
}



.location form {
    display: inline;
    margin-left: 1rem;
}

.location form input {
    height: 2rem;
    padding: .2rem 0 0 1rem;
    background: rgb(191, 191, 81);
    border-radius: 1rem;
    color: rgb(196, 196, 81);
    width: 20rem;
    border-style: none;
    color: rgb(41, 41, 7);
}

.location button {
    background: rgb(18, 18, 2);
    width: 10rem;
    border-style: none;
    padding: .6rem 2rem;
   border-radius: 1rem;
   
}
.location button a{
    color: rgb(196, 196, 81);
}